<div class="row">
  <div class="col-sm-6 col-md-10">
    <%= f.input :title, autofocus: true %>
  </div>
  <div class="col-sm-6 col-md-2">
    <%= f.input :tome %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <%= f.input :author %>
  </div>
  <div class="col-sm-6 col-md-6">
    <%= f.input :editor %>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <%= f.input :isbn %>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="form-group">
      <%= f.label :read, 'Lecture' %>
      <div class="checkbox">
        <label><%= f.check_box :read %> Lu</label>
      </div>
    </div>
  </div>
</div>
<%= f.input :cover_url %>
<%= f.input :release_date, as: :hidden %>
