<%= simple_nested_form_for @book, id: dom_id(@book) do |f| %>
  <%= hidden_field_tag :list_view, params[:list_view] %>
  <div class="modal-header">
    <h5 class="modal-title">
      <%= @book.new_record? ? t("book.new") : t("book.edit") %>
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <% @book.build_serie if @book.serie.blank? %>
    <% if Serie.any? && @book.new_record? %>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          <a href="#pane1" class="nav-link active" data-bs-toggle="tab">Série en cours</a>
        </li>
        <li class="nav-item">
          <a href="#pane2" class="nav-link" data-bs-toggle="tab">Nouvelle série</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="pane1">
          <%= f.input :serie_id,
            collection: Serie.order('name').map { |s| [s.name, s.id] },
            include_blank: false,
            prompt: 'Sélectionnez une série',
            label: false %>
        </div> <!-- /pane1 -->
        <div class="tab-pane" role="tabpanel" id="pane2">
          <%= f.fields_for :serie do |s| %>
            <%= s.input :name, required: true %>
          <% end %>
        </div> <!-- /pane2 -->
      </div> <!-- /tab-panes -->
    <% elsif Serie.any? && !@book.new_record? %>
      <%= f.input :serie_id,
          collection: Serie.order("name").map { |s| [s.name, s.id] },
          include_blank: false,
          prompt: :translate,
          label: "Série" %>
    <% else %>
      <%= f.fields_for :serie do |s| %>
        <%= s.input :name %>
      <% end %>
    <% end %>

    <%= render "form_fields", f: f %>
  </div>
  <div class="modal-footer">
    <%= icon_button_link_to "",
        book_path(@book),
        data: { turbo_method: :delete, turbo_confirm: t("are_you_sure") },
        icon: "trash",
        level: "danger" unless @book.new_record? %>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t "close" %></button>
    <%= f.button :submit, class: "btn btn-success", data: { turbo_disable_with: t("saving") } %>
  </div>
<% end %>
