<header class="bd-header bg-dark d-flex align-items-stretch border-bottom border-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <%= link_to t("site_name"), root_path, class: "nav-link px-2 text-secondary" %>
        </li>
      </ul>

      <%= form_with url: search_books_path,
          data: { controller: "search" },
          class: "col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" do |form| %>
        <%= form.search_field :query,
            class: "form-control form-control-dark",
            placeholder: "XIII, Tome 5, Non lu...",
            "aria-label" => "Search" %>
      <% end %>

      <div class="text-end">
        <%= icon_button_link_to t("book.lookup"),
            "#",
            icon: "search",
            level: "warning",
            class: "me-2",
            data: { action: "toggle#toggle" } %>
        <%= icon_button_link_to t("book.add"),
            new_book_path,
            level: "outline-light",
            class: "me-2",
            data: { bs_toggle: "modal", bs_target: "#page-modal" },
            icon: "plus" %>
        <%= icon_button_link_to "",
            books_path(view: "list"),
            level: "outline-light",
            class: "me-2",
            icon: "list-ul",
            id: "toggle-list-view" %>
        <%= icon_button_link_to "",
            export_books_path(format: :csv),
            level: "outline-light",
            class: "me-2",
            icon: "download" %>
      </div>
    </div>
  </div>
</header>
