<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= t 'site_name' %></a>
    </div>
    <div class="navbar-collapse collapse" style="height: 1px;">
      <form id="global-search" action="<%= books_path %>" method="GET" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" placeholder="XIII, Tome 5, Non lu..." class="form-control" name="query"/>
        </div>
        <%= icon_button_link_to 'Ajouter', new_book_path(isbn: 11111), data: { toggle: 'modal', target: '#page-modal' }, class: 'btn btn-default', icon: 'plus' %>
        <%= icon_button_link_to '', books_path(view: 'list'), icon: 'align-justify', level: 'default', id: 'toggle-list-view' %>
        <%= icon_button_link_to '', books_path, icon: 'ok', level: 'default', id: 'toggle-grid-view', style: 'display:none;' %>
      </form>
    </div>
  </div>
</nav>
