<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= t 'site_name' %></a>
    </div>
    <div class="navbar-collapse collapse" style="height: 1px;">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= icon_link_to t('book.lookup'),
              '#',
              icon: 'search',
              data: { action: 'toggle#toggle' } %>
        </li>
        <li>
          <%= icon_link_to t('book.add'),
              new_book_path,
              data: { toggle: 'modal', target: '#page-modal' },
              icon: 'plus' %>
        </li>
        <li>
          <%= icon_link_to '',
              books_path(view: 'list'),
              icon: 'align-justify',
              id: 'toggle-list-view' %>
        </li>
        <li>
          <%= icon_link_to '',
              books_path,
              icon: 'ok',
              id: 'toggle-grid-view',
              style: 'display:none;' %>
        </li>
      </ul>
      <form id="global-search" action="<%= books_path %>" method="GET" class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" placeholder="XIII, Tome 5, Non lu..." class="form-control" name="query"/>
        </div>
      </form>
    </div>
  </div>
</nav>
